<hr>
<p>check-pwd works!</p>

<ng-template #changePwdModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Change Password {{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" class="form-control" name="newpwd">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" class="form-control" name="confpwd">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(changePwdModal)"> Check Pwd Directive Demo</button>

<hr>
